<div class="container bg-secondary d-flex justify-content-center">

    <div class="row my-2">
        <div class="col-12">
            <h1 class="bg-primary text-center">Customer Table</h1>

            <form class="my-2">
                <div class="form-group">
                    <input type="text" #name class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" #mail class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="text" #vip class="form-control" placeholder="Vip Status">
                </div>
                <div class="form-group flex-row d-flex align-items-center">
                    <button (click)="addCustomer(name.value, mail.value, vip.value); name.value=''; mail.value=''; vip.value='';  " class="btn btn-primary">Submit</button>
                    <div class="pl-3">{{ message }}</div>
                </div>
            </form>

            <table class="table table-striped ">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Vip </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of getCustomers() let i= index">
                        <td>{{ i+1}}</td>
                        <td>{{ customer.name}}</td>
                        <td>{{ customer.mail}}</td>
                        <td>{{ customer.vip}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>